#header {
    background-color:navy;
  
} 

#header-img {
    
    width: 250px;}

#nav-bar {

}
#h1 {text-align: center;}

.container {


}

    .nav_link {

    }
#link_id1{ width: 900px;
           text-align: start;
        }  

#link_id2{
text-align: right;}

#link_id3   {width: 900px;}

#video {width: 100%;
    justify-self: right;}